<div class="m-auto text-center p-3">
  <h1>Let's Chat ... Login to your account</h1>
</div>
<div class="login-form">
  <div class="mb-3">
    <label for="username" class="form-label">UserName</label>
    <input
      [(ngModel)]="loginModel.username"
      type="text"
      class="form-control"
      id="username"
      placeholder="please enter your name"
    />
  </div>

  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input
      [(ngModel)]="loginModel.password"
      type="password"
      class="form-control"
      id="password"
      placeholder="enter your password"
    />
  </div>
  <div class="mb-3">
    <button class="btn btn-primary" [disabled]="" (click)="login()">
      Login
    </button>
  </div>
</div>
